body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.development_column{
        display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    margin: 0 2%;
    height:100%;
    padding-bottom:5em;
    gap: 2em;
}

.dev_div{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    height: 200px;
    width: 40%;
}

.dev_image{
    flex-shrink: 0;
    width: 10%;
}
.dev_image img{
    height: 40px;
}

.dev_txt h2{
    margin: 0;
    padding-bottom: 1em;
}

.dev_txt{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}