
*{
    text-decoration: none;
    list-style-type: none;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px 10px 25px;
    box-shadow: 0 2px 25px 1px rgba(143, 141, 141, 0.438);
}

.logo{
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: "Inspiration", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    padding-block: 10px;
}

nav{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    gap: 45px;
    padding-block: 10px;
}

nav div{
    display: flex;
    flex-direction: row;
}

.contact_btn{
    display: flex;
    align-items: center;
    width: 124px;
    height: 42px;
    background: linear-gradient(225deg, #6675F7 0%, #57007B 100%);
    color: white;
    padding: 14px 25px 14px 25px;
    border: none;
    border-radius: 10px;
}

.menu{
    display: none;
}

.introduction{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 200px 50px 200px; 
}

.introduction p{font-size: 45px;}

.introduction p:nth-child(1){
    font-size: 45px;
    font-weight: 300;
}

.introduction span:not(span:nth-child(2)){
    font-weight: 800;
    background: linear-gradient(180deg, #b62472 0%, rgba(13, 28, 159, 0.375) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.introduction p span:nth-child(2){
    font-weight:900;
    color: black;
}

.introduction p:nth-child(2){
    font-size: 18px;
    font-weight: 400;
}

.intro_btn{
    background-color: #3D63EA;
    color: white;
    padding: 19px 30px;
    border: none;
    border-radius: 5px;
    font-weight: 400;
    margin-top: 50px;
}
.circle{
    position: absolute;
    margin-left: 30%;
    z-index: -1;
}
.circle_2 {
    position: relative;
    margin-left: 5%;
    z-index: -1;
    bottom: 35px;
}

.services_container{
    background-color:#F9F9FF;
    width: 100%;
    height: 100%;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border:solid 1px rgba(128, 128, 128, 0.158);
}
.services_container h1 {
    display: flex;
    text-align: center;
    align-self: center;
    padding-top:30px;
}
.services{
    display: flex;
    margin-top: 0px;
    padding: 50px 0px;
    justify-content: center;

}
.card{
    width: 333px;
    height: 287px;
    display: flex;
    flex-direction: column;
    background-color: #FAFAFA;
    padding: 20px;
    margin: 20px;
    box-shadow: 5px 0px 25px rgba(128, 128, 128, 0.315);
    transition: transform 0.3s ease-in-out;
}
.card:hover{
    transform: translateY(20px);
    cursor: pointer;
    box-shadow: 5px 0px 25px#56007b8f;
}

.services img{
    width: 35px;
    padding: 5px;
    border: solid #3D63EA 1px;
    border-radius: 100%;
}
.services p{
    color: gray;
    font-weight: 300;
}
.carousel{
    display: flex;
    justify-content: space-around;
    padding-bottom: 35px;
}
.partner_carousel{
    display: flex;
    justify-content: center;
}

.informations_container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px 200px 50px 200px; 
    gap: 100px;
}
 
.information{
    display: flex;
    justify-content: space-between;
    row-gap: 500px;
}

.text h4{
    margin: 0;
    padding-block: 20px;
    font-size: 35px;
    font-weight: 400;
    line-height: 55px;
}
.text p{
    font-size: 18px;
    font-weight: 300;
    color: gray;
    line-height: 55px;
}
.text span{
    background: linear-gradient(225deg, #F76680 0%, #57007B 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.see_more{
    display: flex;
    gap: 15px;
    align-items: center;
    padding-top: 20px;
}

.partner{
    font-size: 35px;
    padding-left: 200px;
    padding-top: 200px;
}
.partner p{
    display: flex;
    flex-direction: column;
    line-height: 25px;
}
.partner span{font-weight: 400;}

.btn_arrow{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-right: 100px;
}



.btn_arrow img{
    border: solid #57007B;
    border-radius: 100%;
    padding: 8px;
}

.btn_arrow img:nth-child(1){transform: rotate(180deg);}
.btn_arrow img:nth-child(2){border-color: #57007B;}

.circle_3{
    position: absolute;
    margin-top: 15px;
    margin-left: 55%;
}

.partner_carousel{
    position: relative;
    padding: 100px;
    background-color: #F7F7FA;
    margin-top: 50px;
    overflow-x: scroll;
}

.reviews_container{padding: 150px 250px 500px 250px;}

.reviews{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.reviews_comment{
    padding-inline: 200px;
    text-align: center;
    font-size: 18px;
    color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 55px
}

.reviews_comment h2{
    color: black;
    font-weight: 400;
    font-size: 35px;
}
.reviews_comment p img:nth-child(1){
    margin-right: 120%;
}
.reviews_comment p img:nth-child(2){
    margin-left: 120%;
    transform: scaleX(-1);
}

.reviews img{
    display: flex;
    justify-self: center;
}

.reviews_arrow{
    display: absolute;
    margin-top:-400px;
    
}
.reviews_arrow img{
    padding: 7px;
    border: 2px solid;
    border-color: #57007B;
    border-radius: 100%;
    margin-bottom: 50px;

}
.reviews_arrow img:nth-child(1){transform: rotate(180deg);}

/*PORTFOLIO*/

.portfolio_container{
    background-color: #fafaff;
    padding: 100px;
    display: flex;
    flex-direction: column;
}

.portfolio_header{
    justify-items: center;
    text-align: center;
    font-size: 35px;
    font-weight: 400;
    line-height: 55px;
    padding-bottom: 100px;
}

.portfolio{
    outline: auto;
    margin-inline: 150px;
}

.p_card{
    outline: solid #6675F7 1px;
    display: flex;
    border-radius: 0px 10px 10px 0px;
}

.p_text{
    padding: 80px 50px;
    font-weight: 400;
    line-height: 22px;
}

.read_more{
    display: flex;
    justify-self: flex-end;
    gap: 5px;
    margin-top: 140px;
    margin-right: 40px;
}

/*Phone*/
@media screen and (max-width:699px){

    nav, .contact_btn{
        display: none;
    }
    
    .menu{
        display: flex;
    }
    .logo img, span{
        height: 35px;
        font-size: 30px;
    }

    .introduction{
        padding: 25px;
        flex-direction: column;
        justify-self: center;
        text-align: center;
    }
    .introduction span{
        font-size: 50px;
    }
    .introduction div img{
        position: absolute;
        top: 50px;
        left: 0;
        opacity: 0.3;
        z-index: -1;
    }

    .card{
        display: flex;
        justify-content: center;
        text-align: center;
        margin:0 ;
    }
    .card:nth-child(2n){
        display: none;
    }
    .card:nth-child(3){
        z-index: 2;
    }

    .informations_container:not(#video){
        display: none;
    }
    .circle, .circle_2{
        display: none;
    }




}

/*tablet*/
@media only screen and (min-width:699px) and (max-width:1000px){
   
    .logo{
        display: none;
    }

    nav div{
        font-size: small;
   }

   .introduction img{
    display: ;

   }
}


/*Desktop*/
@media screen and (min-width:1000px){}